{% extends 'deelnemer.html.twig' %}

{% block content %}
    <section>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Profiel aanpassen</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
